.pagination {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: teal;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
